body {
  height: 3000px;
}
.container {
  position: relative;
  display: inline-block;
}
.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.OFF {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 7px;
  background-color: black;
  color: white;
  padding: 3px 5px;
}

.cover {
  background-color: rgba(253, 253, 253, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  margin-bottom: 4px;
}
.BUTTON {
  padding: 0;
  position: absolute;
  font-size: 7px;
  padding: 5px 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;

}